<p>El pago fue realizado exitosamente</p>
<p>Infor Solicitada</p>
<ul>
    <li>
        payment_type: {{payment_type}}
    </li>
    <li>external_reference: {{external_reference}}</li>
    <li>Id Pago: {{payment_id}}</li>
</ul>